<header>
    <h1 class="text-center">Add Endpoint</h1>

</header>
<div class="container">

    <div ng-controller="addEndPointController" >
            <div><span >Name:</span> <input type="text" name="endPointName" ng-model="addEndPoint.name"> </div>

            <div><span>URL: </span><input type="text" name="endPointUrl"  ng-model="addEndPoint.url"> </div>
            <div><span>Request Method:</span> <select ng-init="options[0]" ng-model="addEndPoint.requestMethod" >
                            <option value="GET">GET</option>
                            <option value="POST">POST</option>
                            </select></div>

            <div>Headers  <span ng-click="addHeader()">    Add</span></div>

            <ul>
            <li ng-repeat="header in headers">
                <div>
                    <span>Key:</span>
                    <input type="text" name="header-key" value="{{header.key}}" />

                    <span>Value:</span>
                    <input type="text" name="header-value" value="{{header.value}}" />
                </div>
            </li>
            </ul>
        <div>Parameters  <span ng-click="addParameter()">Add</span></div>
        <ul>
            <li ng-repeat="parameter in parameters">
                <div>
                    <span>Key:</span>
                    <input type="text" name="parameter-key" value="{{parameter.key}}" />

                    <span>Value:</span>
                    <input type="text" name="parameter-value" value="{{parameter.value}}" />
                </div>
            </li>
        </ul>
        <div>Request Body </div>
        <div>
            <input type="text" name="requestBody" ng-model="requestBody"  value="" size="90" />
        </div>

        <div>Save to Scratch Paper</div>



        <div><span ng-click="saveEndPoint()">Save</span></div></div>
    </div>

</div>