<header>
    <h1 class="text-center">Add Endpoint</h1>

</header>
<div class="container">

    <div ng-controller="MyController" >

            Name: <input type="text" name="endPointName" ng-model="addEndPoint.name"> <br/>
            URL:   <input type="text" name="endPointUrl"  ng-model="addEndPoint.url">  <br/>
            Request Method: <select ng-model="addEndPoint.requestMethod">
                            <option value="GET">GET</option>
                            <option value="POST">POST</option>
                            </select> <br/>
            Headers



    </div>

</div>