<header>
    <h1 class="text-center">Add Endpoint</h1>

</header>
<body>
<div class="container">

    <div ng-controller="addEndPointController" >
            <div class="endPointRow"><label class="LabelLayout">Name:</label> <input size="50" type="text" name="endPointName" ng-model="addEndPoint.name"> </div>

            <div class="endPointRow"><label class="LabelLayout" style="padding-right: 2px">URL:</label><input  size="50" type="text" name="endPointUrl"  ng-model="addEndPoint.url"> </div>
            <div class="endPointRow"><label>Request Method:</label> <select ng-init="options[0]" ng-model="addEndPoint.requestMethod">
                            <option value="GET">GET</option>
                            <option value="POST">POST</option>
                            </select>
            </div>

            <div class="endPointRow">Headers  <span ng-click="addHeader()">    Add</span></div>

            <ul>
            <li ng-repeat="header in headers">
                <div>
                    <span>Key:</span>
                    <input type="text" name="header-key" value="{{header.key}}" />

                    <span>Value:</span>
                    <input type="text" name="header-value" value="{{header.value}}" />
                </div>
            </li>
            </ul>
        <div class="endPointRow">Parameters  <span ng-click="addParameter()">Add</span></div>
        <ul>
            <li ng-repeat="parameter in parameters">
                <div>
                    <span>Key:</span>
                    <input type="text" name="parameter-key" value="{{parameter.key}}" />

                    <span>Value:</span>
                    <input type="text" name="parameter-value" value="{{parameter.value}}" />
                </div>
            </li>
        </ul>
        <div>Request Body </div>
        <div>
            <textarea rows="4" cols="66"  name="requestBody" ng-model="requestBody"  value="" />
        </div>



        <div id="saveButton"><span ng-click="saveEndPoint()">Save</span></div>
    </div>



</div>
</body>