<div class="modalContainer">
<h1 class="text-center">Add Action</h1>
<div class="containerWithMargins">
<form ng-controller="FloAddActionCtrl">
    <label class="LabelFormCombo">Name: </label><input type="text" ng-model="firstname"><br>
    <label class="LabelFormCombo">HTTP Status Code: </label><input type="text" ng-model="statuscode"><br>
    <label class="LabelFormCombo">Action Code: </label><input type="text" ng-model="action"><br>
    <label class="LabelFormCombo">Action Type: </label><select ng-model="type">
        <option value="email">Email</option>
        <option value="text">Text</option>
    </select>
    <br><br>
</form>
</div>
<button class="button" ng-click="saveClicked()">SAVE</button>
</div>