$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$floRidaFont: 'Oswald', sans-serif;

@import 'sass-bootstrap/lib/bootstrap';

body {
  font-family: $floRidaFont;
  font-size: 14px;
  font-weight: 300;
  color: #585860
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

label, button {
  font-weight: 300;
}

.LabelFormCombo {
  width: 140px;
  text-align: left;
  margin-left: 5;
}

#saveButton {
  text-align: center;
  width: 400px;
  padding-top: 30px;

}

.endPointRow {
  padding-bottom: 10px;
}

.flo-node-row {
  display: table-row;
}

.flo-node {
  display: table-cell;
  height: 150px;
  width: 150px;
}

.button {
  width: 100%;
  background-color: #F2534C;
  border-color: #F2534C;
  border: 0px;
}

.containerWithMargins {
   padding: 0 15px;
 }

.modalContainer {
  background-color: #B0B3B4;
}
